                .top-navbar {
                    background-color: black;
                    height: 120px;
                }
                
                .img {
                    height: 60px;
                    margin-top: 30px;
                    margin-left: 15px;
                }
                
                .text {
                    color: #ffff;
                    font-size: 40px;
                    position: relative;
                    bottom: 10px;
                }
                
                .home {
                    color: #ffff;
                    position: relative;
                    bottom: 10px;
                    font-size: 40px;
                    left: 600px;
                }
                
                .logout {
                    left: 1300px;
                    color: #ffff;
                    position: relative;
                    font-size: 40px;
                    bottom: 10px;
                }